* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #FCFCFC;
  color: #111;
  font: normal 30px Cardo, Georgia, serif; }

header {
  text-align: center;
  margin: 0 0 2rem 0; }

#topbar {
  display: block;
  height: 0.5rem;
  width: 100%; }

#topbar * {
  height: 0.75rem; }

#topbar :nth-child(1) {
  background-color: #42d535; }

#topbar :nth-child(2) {
  background-color: #62dc57; }

#topbar :nth-child(3) {
  background-color: #81e379; }

#nav {
  link-style: none; }

#nav li {
  display: inline-block;
  padding-right: 3rem; }

#nav li a {
  color: #555;
  font-weight: bold;
  text-decoration: none; }

#nav li a:hover {
  color: #222222; }

#nav li a.active {
  color: #2da523; }

#bottombar {
  background-color: #33ba27;
  height: 0.5rem;
  margin: 2rem 0 0 0; }

h1 {
  padding-top: 1rem;
  margin-bottom: 0.5rem; }

h3 {
  margin-bottom: 0.25rem; }

h3 a {
  text-decoration: none; }

article {
  margin: 0 auto;
  max-width: 50rem; }

p {
  line-height: 1.5;
  margin-top: 0rem; }

a {
  color: #2da523; }

a:hover {
  color: #1c6615; }

#email {
  text-decoration: none; }

@media (max-width: 640px) {
  article {
    padding: 0 1rem; }

  #nav li {
    padding-right: 2rem; } }
@media (max-width: 480px) {
  body {
    font-size: 24px; } }
@media (max-width: 400px) {
  body {
    font-size: 20px; }

  #nav li {
    padding-right: 1.5rem; } }
