$screen-width-mobile: 800px;

$color-text: #222;
$color-link: #07D;

body {
    align-items: center;
    color: $color-text;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin: 1rem 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 90%;

    @media (max-width: $screen-width-mobile) {
        width: calc(100% - 40px);
    }
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: 4em;
}

img {
    max-width: 100%;
}

a {
    color: $color-link;

    &:hover {
        color: $color-text;
    }
}

header {
    &.site-header {
        color: $color-text;

        .site-title {
            color: inherit;
            cursor: inherit;
            font-size: 4rem;
            font-weight: 700;
            margin: 0;
            text-decoration: inherit;

            &:hover {
                text-decoration: underline;
            }

            @media (max-width: $screen-width-mobile) {
                font-size: 3rem;
            }
        }
    }

    &.post-header {
        .post-title {
            font-size: 4rem;
            font-weight: 700;
        }

        .post-meta {
            font-size: 2rem;
            margin: 0;
        }
    }
}

article.home {
    display: flex;

    @media (max-width: $screen-width-mobile) {
        flex-direction: column;
    }

    section {
        padding: 1rem;

        &:first-child {
            align-items: center;
            display: flex;
            flex: 1;
            justify-content: center;
        }

        &:last-child {
            flex: 2;
            text-align: left;
        }
    }

    p {
        font-size: 1.4rem;
        margin: 0;
        max-width: 100%;

        & + p {
            margin-top: 1rem;
        }
    }

    .profile-picture {
        width: 300px;
    }
}