---
layout: default
---

<article class="home">
  <section>
    <img src="assets/img/tom-shen.jpg" alt="Photo of Tom Shen" class="profile-picture">
  </section>
  <section>
    <p>Hi! I'm <a href="mailto:tom@shen.io">Tom Shen</a>.</p>
    <p>I'm a <a href="https://www.github.com/tomshen">software engineer</a> interested in web development and machine learning.</p>
    <p>I enjoy travelling and <a href="https://www.instagram.com/tomzshen/">taking photos with my phone</a>.</p>
    <p>I currently live in New York and work at <a href="https://www.palantir.com/">Palantir</a>.</p>
    <p>I've previously worked at <a href="https://upthere.com/">Upthere</a>, <a href="https://www.expii.com/">Expii</a>, and Bloomberg.</p>
  </section>
</article>
